@model TheCollectorsCoLIVE.Migrations.BaseballCard

@{
    ViewBag.Title = "Details";
}
<style>
    .CardImage {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
    }


</style>
<h2>Card Details</h2>

<div>
    <h4>
        <img src="https://cdn0.iconfinder.com/data/icons/customicondesign-office6-shadow/256/baseball.png" height="30" width="30" />
    </h4>
    <hr />
    <div class="col-md-6 col-lg-6 col-sm-12">
        <dl class="dl-horizontal">

            <dt>
                Year
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardYear)
            </dd>

            <dt>
                Manufacturer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManufacturerInfo.ManufacturerName)
            </dd>

            <dt>
                Card Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardNumber)
            </dd>

            <dt>
                Player
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Player.PlayerName)
            </dd>


            <dt>
                Position
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Position.PositionName)
            </dd>

            <dt>
                Team
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.TeamName)
            </dd>

            <dt>
                Coach
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Coach.CoachName)
            </dd>


            <dt>
                Player Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlayerNumber)
            </dd>


            <dt>
                Additional Info
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardComments)
            </dd>

            <dt>
                Image URL
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardImage)
            </dd>

        </dl>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <img class ="CardImage"src="@Html.DisplayFor(model => model.CardImage)" height=" 315" width=" 225" />
    </div>
</div>

<p>
<p><a href="/" class="btn btn-primary btn-lg">Add to Collection &raquo;</a></p>
<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BaseballCardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
