@model IEnumerable<TheCollectorsCoLIVE.Migrations.BaseballCard>

@{
    ViewBag.Title = "Index";
}


<style>
    .CardHover:hover {
        background-image: url('');
        width: 125px;
        height: 175px;
    }
</style>

<h2>
    <img src="https://cdn0.iconfinder.com/data/icons/customicondesign-office6-shadow/256/baseball.png" height="30" width="30" />
    Cards
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


    <center>
        <table class="table">

            <tr>
                <th>

                </th>
                <th>
                    Release Year
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Card #
                </th>
                <th>
                    Player
                </th>
                <th>
                    Position
                </th>
                <th>
                    Team
                </th>
                <th>
                    Coach
                </th>

                <th>
                    Player #
                </th>

                <th>
                    Additional Info
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <img class="CardHover" src="@Html.DisplayFor(modelItem => item.CardImage)" height="53" width="38" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerInfo.ManufacturerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.PlayerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.PositionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coach.CoachName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CardComments)
                    </td>

                    <td>
                        @Html.ActionLink("Add/Details", "Add", new { id = item.BaseballCardID })<br />
                        @Html.ActionLink("Edit", "Edit", new { id = item.BaseballCardID })<br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.BaseballCardID })


                    </td>
                </tr>

            }

        </table>

    </center>

